### struktur data
1. list [ .. ]
2. set { .. }
3. tupple (.. )

### List

In [1]:
# list
x = [1, 2, 3]

In [5]:
# 1. list ini punya index
# indexing di python mulai dari 0
# misal x = [1,2,3]
#            0,1,2  
# template -> nama_variable[index]
x[2]

3

In [6]:
# 2. list ini boleh isinya berulang/ duplicate
y = [1, 2, 1, 4]

In [7]:
y

[1, 2, 1, 4]

In [9]:
# 3. penggantian isi value di list diperbolehkan
# template -> nama_var[index_yang_mau_diganti] = value
y[3] = 10

In [10]:
y

[1, 2, 1, 10]

### Set

In [11]:
# set { .. }
x = {1, 2, 3}

In [12]:
# 1. tidak bisa diakses indexnya
x[2]

TypeError: 'set' object is not subscriptable

In [13]:
# 2. set itu harus unik value
x = {1, 2, 1, 4}

In [14]:
x

{1, 2, 4}

### tuple

In [16]:
# tuple ( )
x = (1, 2, 4)

In [17]:
x

(1, 2, 4)

In [19]:
# 1. bisa diakses value nya via index
x[0]

1

In [20]:
# 2. value dalam tuple itu tidak bisa diganti, dikurang atau ditambah
x[2] = 10

TypeError: 'tuple' object does not support item assignment

## Looping

In [23]:
# template
# for nama_variable in range(angka_awal, angka_akhir+1):
#     command

# tulis angka 5 - 10
for i in range(5,11):
    print(i)

5
6
7
8
9
10

In [25]:
# guru memiliki 5 nilai untuk dicek. nilainya 10,20,30,40,90.
# guru ingin mengelompokkan nilai menjadi lulus dan tidak lulus
# buat code untuk melakukan checking 5 nilai tersebut

# melakukan perulangan dari value list
# template
# for nama_variable in nama list:
#     command

# list nilai berisi nilai yg ada
nilai = [10, 20, 30, 40, 90]

# value merupakan sebuah nilai pada list nilai yang sedang diiterasi
for value in nilai:
    # iterasi 2 , value = 30     
    print(value)
    #  pengelompokkan nilai. lulus jika nilai >= 80
    if (value>=80):
        print("lulus")
    else:
        print("tidak lulus")
    print()

10
tidak lulus

20
tidak lulus

30
tidak lulus

40
tidak lulus

90
lulus